@*@model InventoryApp.Models.Store*@
@model InventoryApp.ViewModel.EmployeesDetailsViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.OpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.OpenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Open)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Open)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Close)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Close)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.employee.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Store.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<p>
    @Html.ActionLink("Create New", "../Inventories/Create", new { id = Model.Store.ID })
</p>

<div id="PartialRender">  
   @* @Html.Partial("_InventoryList", Model.Inventories)*@
</div>

<script type="test/javascript">

    $(document).ready(function () {


    });

</script>